*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;

}
/* navbar */
.navbar{
    background-color: rgb(191, 232, 193);
}

.logo{
    margin-left: 20px;
    margin-right: 20px;
}

/* banner */
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-container .banner .imagen1banner{
    flex: 1 1 250px;
    padding: 15px;
    text-align: center;
}

.banner-container .banner .imagen1banner img{
    width: 80%;
}

.banner-container .banner .texto-banner{
    flex: 1 1 250px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.banner-container .banner .texto-banner span{
    color: #eee;
    font-size: 25px;
}

.banner-container .banner .texto-banner h3{
    color: #fff;
    font-size: 40px;
}

.banner-container .banner .texto-banner p{
    color: #eee;
    font-size: 20px;
    padding: 10px 0;
}

.banner-container .banner .texto-banner .btn{
    display: block;
    height: 40px;
    width: 150px;
    /* line-height: 40px; */
    background: #fff;
    color: red;
    margin: 5px auto;
    text-decoration: none;
}

.banner-container .banner .imagen2banner{
    position: relative;
    bottom: -33px;
    padding: 10px;
    flex: 1 1 250;
}

.banner-container .banner .imagen2banner img{
    width: 100%;
}

@media (max-width:768px){
    .banner-container .banner .imagen2banner{
        display: none;
    }
}

/* seccion cards */
.titulos{
    text-align: center;
    padding: 20px 20px;

}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 20px 40px;
}

/* footer */

.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .column {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .column i {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .column li {
    margin-bottom: 5px;
  }
  
  .column a {
    text-decoration: none;
    color: #333;
  }
  @media (max-width: 600px) {
    .column {
      flex-basis: 100%;
    }
  }